@page "/RemoveFicha/{id}"
@using FichaAtendimento.Shared.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager

<style>
    .botao{
        margin-right:20px;
    }
    .divBotoes{
         margin-top: 50px;
    }
</style>

<h3>Remove record</h3>
<hr />

<div class="row">
    <h4>Are you sure you want to remove this record?</h4>
</div>
<div class="row divBotoes">
    <button @onclick="@Cancel" class="botao btn btn-secondary" value="Cancel">BACK</button>
    <button @onclick="@DeleteFicha" class="botao btn btn-danger" value="Delete">REMOVE</button>
</div>