@page "/"

<style>
    body {
        text-align: left;

    }
</style>

<PageTitle>Patients and Records</PageTitle>

<h1>Welcome to the <strong><u>Patient Records Application</u></strong></h1>
<hr />
<h3>In this application you will be able to store data from patients as well as records from your sessions.</h3>
<br />
<h3>Please use the left menu to navigate!</h3>
