@page "/removepatient/{id}"
@using FichaAtendimento.Shared.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager

<style>
    .botao{
        margin-right:20px;
    }
    .divBotoes{
         margin-top: 50px;
    }
</style>

<h2>Remove patient profile</h2>
<hr />

<div class="row">
    <h4>Are you sure you want to remove this profile?</h4>
</div>
<div class="row divBotoes">
    <button @onclick="@Cancel" class="botao btn btn-secondary" value="Cancel">BACK</button>
    <button @onclick="@DeletePaciente" class="botao btn btn-danger" value="Delete">REMOVE</button>
</div>

@code{
    [Parameter]
    public string? id { get; set; }
    Paciente newPaciente = new Paciente();

    protected override async Task OnInitializedAsync()
    {
        newPaciente = await Http.GetFromJsonAsync<Paciente>($"api/patients/{id}");
    }


    private async Task DeletePaciente()
    {
        await Http.DeleteAsync($"api/patients/{id}");
        NavigationManager.NavigateTo("Patients");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("Patients");
    }
}